<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="hotel_management_menu" name="Hotel Management" />

        <menuitem id="hotel_configuration_menu" name="Configuration"
            sequence="90" parent="hotel_management_menu" />

        <menuitem id="hotel_report_menu" name="Pdf Reports" sequence="80"
            parent="hotel_management_menu" />


        <menuitem id="hotel_folio_menu" name="Room Operations" 
            parent="hotel.hotel_management_menu" sequence="4" />

            <menuitem name="Folio" id="hotel_guest_folio_menu"
                action="hotel_guest_folio_action" sequence="5" parent="hotel_folio_menu" />

            <menuitem name="Check-In" id="hotel_folio_checkin_menu"
                action="hotel_folio_checkin_wizard_action" sequence="6" parent="hotel_folio_menu" />

            <menuitem name="Check-Out" id="hotel_folio_checkout_menu"
                action="hotel_folio_checkout_wizard_action" sequence="6" parent="hotel_folio_menu" />

            <menuitem name="Late-Out" id="hotel_folio_lateout_menu"
                action="hotel_folio_checkout_wizard_action" sequence="7" parent="hotel_folio_menu" />


        <menuitem id="menu_hotel_service" name="Services" 
            parent="hotel.hotel_configuration_menu" sequence="2" />

        <!-- <menuitem name="Service Types" id="menu_open_hotel_service_type_form_tree"
            action="open_hotel_service_type_form_tree" sequence="8"
            parent="hotel.menu_hotel_service" /> -->

        <menuitem name="Services" id="menu_open_hotel_services_form"
            action="action_hotel_services_form" sequence="9"
            parent="hotel.menu_hotel_service" />

        <menuitem id="menu_hotel_room" name="Room List"
        parent="hotel.hotel_configuration_menu" sequence="2" />

    <menuitem id="menu_open_hotel_room_form" name="Rooms"
        action="action_hotel_room_form" sequence="6" parent="hotel.menu_hotel_room" />

    <menuitem id="menu_hotel_room" name="Room Setup"
        parent="hotel.hotel_configuration_menu" sequence="2" />
    <menuitem id="menu_open_hotel_room_type_form_tree" name="Room Type"
        action="open_hotel_room_type_form_tree" sequence="5"
        parent="hotel.menu_hotel_room" />
    <menuitem id="menu_open_hotel_floor_form_tree" name="Floor"
        action="open_hotel_floor_form_tree" sequence="21"
        parent="hotel.menu_hotel_room" />

    <menuitem id="menu_amenity" name="Amenity Setup"
        parent="hotel.hotel_configuration_menu" sequence="2" />
    <menuitem name="Amenity Types"
        id="menu_action_hotel_room_amenities_type_view_form" action="action_hotel_room_amenities_type_view_form"
        sequence="3" parent="hotel.menu_amenity" />

    <menuitem id="menu_action_hotel_room_amenities_view_form"
        name="Amenities" action="action_hotel_room_amenities_view_form"
        sequence="2" parent="hotel.menu_amenity" />
    </data>
</odoo>